node_modules/
dist/
.vscode/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
*.local
*.log

# Vite
.env*
/build

# Mac
.DS_Store

# Windows
Thumbs.db

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
