.stats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

/* Card UI */
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-3px);
}

/* Text */
.card p {
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 24px;
  font-weight: bold;
}

/* Red color for overdue */
.danger {
  color: #e63946;
}
        
      
#cirp1 {
    font-size: 22px;
    font-weight: 200;
    margin-top: 10px;
    margin-left: 45px;
    margin-bottom: 60px;
}

.tab-container {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

/* Default button */
.tab {
  padding: 8px 18px;
  border-radius: 20px;
  border: none;
  background: #f1f3f5;
  cursor: pointer;
  font-size: 14px;
  color: #555;
  transition: 0.3s;
}

/* Hover effect */
.tab:hover {
  background: #e9ecef;
}

/* Active button (IMPORTANT) */
.tab.active {
  background: black;
  color: white;
}